    /*HERO*/

    /*--- Index ---*/
    .hero{
        background-image: url(../img/fondo11.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: bottom ;
        height: 92vh;
        background-attachment:fixed;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items:center;
        .hero_flex_contenedor{
            color: $color-tercero;
            font-family: Merriweather Sans, sans-serif;
            padding: 75px;
            .hero_fraseuno{
                font-size: nth($font-size, 7);
                width: 450px;
                color:$titulos-hero;
                text-align: justify;
                }
            .hero_frasedos{
                font-size: nth($font-size, 4);
                width: 450px;
                color: $subtitulo-hero;
                text-align: justify;
            }
            li{
                list-style: none;
                padding-top: 8px;
                padding-left: 182px;
                a{
                    @extend %boton;
                    }
                }
            }
        }
    

/*--- contactanos ---*/

    .hero_contacto{
        background-image: url(../img/galeri12.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center ;
        height: 92vh;
        background-attachment: fixed;
        color: $color-tercero;
        font-family:Merriweather Sans, sans-serif ;
        @extend %flex-colum;
            h2{
                color: $titulos-hero;
                font-size: nth($font-size, 7);
            }
            p{
                font-size: nth($font-size, 4);
                color: $subtitulo-hero;
            }
    }


/*--- conocenos ---*/

    .hero_conocenos{
        background-image: url(../img/galeri15.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: top ;
        height: 92vh;
        background-attachment: fixed;
        color: $color-tercero;
        font-family:Merriweather Sans, sans-serif ;
        @extend %flex-colum;
        h4{
            font-weight: 300;
            font-size: nth($font-size, 5);
            width: 800px;
            color: $subtitulo-hero;
        }
        p{
            font-weight: 500;
            font-size: nth($font-size, 7);
            font-style: italic;
            text-align: center;
            color: $titulos-hero;
        }
    }


/*--- únete ---*/

    .hero_unete{
        background-image: url(../img/galeri2.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: top ;
        height: 92vh;
        background-attachment: fixed;
        color: $color-tercero;
        font-family:Merriweather Sans, sans-serif ;
        font-size: nth($font-size, 7);
        @extend %flex-colum;
        h2{
            font-size:nth($font-size, 7);
            color: $titulos-hero;
        }
    }

    
    /*--- viajes ---*/

    .hero_vacaciones{
        background-image: url(../img/viajes.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center ;
        height: 92vh;
        background-attachment: fixed;
        color: $color-tercero;
        font-family:Merriweather Sans, sans-serif ;
        @extend %flex-colum;
        h2{
            font-size:nth($font-size, 7);
            color: $titulos-hero;
            width: 800px;
            text-align: center
        }
    }


/*BODY*/
/*--- Index ---*/

.informacion{
    margin: 30px;
    @extend %flex-row;
    font-family: Merriweather Sans, sans-serif;
    align-items: flex-start;
    .informacion_introduccion{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        h3{
            @extend %titulos;
            padding: 28px;
            font-size: nth($font-size, 5);
        }
        p{
            @extend %cuerpo-texto;
            font-weight: 300;
            font-style: normal;
            font-size: nth($font-size, 3);
            padding: 28px;
            padding-bottom: 0px;
            padding-top: 0px;
        }
        img{
            border-radius: 60px;
            width: 40vw;
            padding: 28px;
        }
        .informacion_introduccion_imagen_descripcion{
            font-style: normal;
            color: rgba(0, 0, 0, 0.436);
            font-size: nth($font-size, 2);
        }
    }
    .video{
        @extend %flex-colum;
        flex-wrap: wrap;
        h3{
            @extend %titulos;
            padding: 28px;
            font-style: normal;
            font-size: nth($font-size, 5);
        }
        iframe{
            padding: 28px;
            width: 600px;
        }
        p{
            @extend %cuerpo-texto;
            font-weight: 300;
            font-style: normal;
            font-size: nth($font-size, 3);
            padding: 28px;
            padding-bottom: 0px;
            padding-top: 0px;
        }
    }
}


.personal{
    @extend %flex-colum;
    height: auto;
    border-radius: 60px;
    .linea{
        border-top: 2px solid rgba(0, 0, 0, 0.251);
        height: 2px;
        width: 50%;
        margin-top: 40px;
        padding-bottom: 30px;
    }
    h3{
        @extend %titulos;
        padding: 20px;
        text-align: center;
        font-family:Merriweather Sans, sans-serif;
        width: 870px;
        font-size: nth($font-size, 5);
    }
    .contener{
        width: fit-content;
        border-radius: 30px;
        
        @extend %flex-row;
        flex-wrap: wrap;
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        div{
            text-align: center;
            width: 200px;
            height: 200px;
            margin: 20px;
            border-radius: 45px;
            @extend %flex-colum;
            flex-wrap: wrap;
            img{
                width: 120px;
                border-radius: 100%;
                padding: 10px;
            }
            h4{
                @extend %burbujas;
                }
            }
        }
    }


    .imagenes{
        padding-bottom: 54px;
        @extend %flex-colum;
        padding: 20px;
        h4{
            font-family:Merriweather Sans, sans-serif;
            font-weight: 600;
            padding: 20px;
            text-align: center;
        }
        #carouselExampleCaptions{
            width: 800px;
        }
    }


/*--- conocenos ---*/
.acordeon{
    @extend %flex-colum;
    .accordion{
        padding: 30px;
        width: 70%;
    }
    .galeria{
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 15px;
        padding: 30px;
        grid-template-areas:
        "foto3 foto3 foto1"
        "foto3 foto3 foto2"
        "foto5 foto6 foto4"
        "foto7 foto9 foto4"
        "foto8 foto8 foto8"
        "foto8 foto8 foto8";
        .foto1{
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover ;
            position: relative;
            grid-area: foto1;
        }
        .foto2{
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover ;
            position: relative;
            grid-area: foto2;
        }
        .foto3{
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover ;
            position: relative;
            grid-row: span 2;
            grid-column: span 2;
            grid-area: foto3;
        }
        .foto4{
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover ;
            position: relative;
            grid-row: span 2;
            grid-area: foto4;
        }
        .foto5{
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover ;
            position: relative;
            grid-area: foto5;
        }
        .foto6{
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover ;
            position: relative;
            grid-area: foto6;
        }
        .foto7{
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover ;
            position: relative;
            grid-area: foto7;
        }
        .foto8{
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover ;
            position: relative;
            grid-row: span 3;
            grid-column: span 3;
            grid-area: foto8;
        }
        .foto9{
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover ;
            position: relative;
            grid-area: foto9;
        }
    }
    .imagenes{
        padding-bottom: 54px;
    }
}

/*--- contactanos ---*/
.contacto_contenido{
    padding-top:54px;
    padding-bottom: 20px;
    font-family:Merriweather Sans, sans-serif ;
    @extend %flex-colum;
    text-align: center;
    .contacto_contenido_arriba{
        padding: 70px;
        width: fit-content;
        display: flex;
        .contacto_contenido_numeros{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 50vh;
            p{
                @extend %cuerpo-texto;
                padding: 10px;
            }
        }
        .contacto_contenido_localizacion{
            p{
                @extend %cuerpo-texto;
            }
            iframe{
                width: 200px;
                height:200px ;
            }
        }
    }
    .contacto_contenido_formulario{
        padding: 15px;
        width: fit-content;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        border-radius: 15px;
        h4{
            color: $color-principal;
        }
        .contenido_formulario{
            div{
                label{
                    color : $color-principal
                }
                width:auto;
                @extend %flex-colum;
            }
        }
    }
}

/*--- únete ---*/

.contenido_unete{
font-family:Merriweather Sans, sans-serif ;
margin: 10px;
padding: 30px;
@extend %flex-colum;
.incripcion_info{
    padding: 20px;
    h2{
        @extend %titulos;
        font-size: nth($font-size, 5);
        padding: 34px;
        color: $color-secundario;
    }
    p{
        @extend %cuerpo-texto;
        font-size: nth($font-size, 3);
        text-align: justify;
    }
}
.unete_contenedor{
    background-color: $color-principal;
    border-radius: 30px;
    @extend %flex-colum;
    padding: 15px;
    h3{
        color: $color-tercero;
        width: 500px;
        text-align: center;
        padding: 10px;
    }
    .formulario_unete{
        @extend %flex-row;
        padding: 20px;
        padding: 10px;
        .for-1{
            @extend %flex-colum;
            padding: 12px;
            .nyp{
                @extend %flex-row;
                div{
                    display: flex;
                    flex-direction: column;
                    margin: 5px;
                    label{
                        color: $color-tercero;
                    }
                    input{
                        border: $color-tercero;
                        border-radius: 5px;
                        padding: 10px;
                        height: 30px;
                    }
                }
            }
            .naciemiento{
                @extend %flex-row;
                div{
                    display: flex;
                    flex-direction: column;
                    margin: 5px;
                    label{
                        color: $color-tercero;
                    }
                    select{
                        width: 95px;
                        border-radius: 5px;
                        height: 30px;
                    }
                }
                div{
                    label{
                        color: $color-tercero;
                    }
                    input{
                        border: $color-tercero;
                        border-radius: 5px;
                        padding: 10px;
                        height: 30px;
                    }
                }
            }
            .especie_sexo{
                @extend %flex-row;
                div{
                    display: flex;
                    flex-direction: column;
                    margin: 5px;
                    label{
                        color: $color-tercero;
                    }
                    select{
                        width: 200px;    
                        border-radius: 5px;
                        height: 30px;
                    }
                }
            }
            .mail{
                display: flex;
                flex-direction: column;
                margin: 5px;
                label{
                    color: $color-tercero;
                }
                input{
                    border: $color-tercero;
                    border-radius: 5px;
                    padding: 10px;
                    height: 30px;
                }
            }
        }
        .for-2{
            .datos_adicionales{
                display: flex;
                flex-direction: column;
                align-items: center;
                div{
                    display: flex;
                    flex-direction: column;
                    margin: 5px;
                    label{
                        color: $color-tercero;
                    }
                    input{
                        border: $color-tercero;
                        border-radius: 5px;
                        padding: 10px;
                        height: 30px;
                    }
                }
            }
        }
    }
    .archivos{
        padding: 10px;
        div{
            margin: 5px;
            label{
                color: $color-tercero;
            }
            input{
                border: $color-tercero;
                border-radius: 5px;
                padding: 10px;
                height: 30px;
            }
        }
    }
    .enviar{
        @extend %boton;
        width: 80px;
        padding: 10px;
    }
}
}
/*--- viajes ---*/
.paquetes{
    padding-top:54px;
    padding-bottom: 20px;
    @extend %flex-colum;
    h3{
        @extend %titulos;
        padding: 20px;
        text-align: center;
        font-family:Merriweather Sans, sans-serif;
        width: 870px;
        font-size: nth($font-size, 5);
    }
    .paquetes_contenedor{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:first baseline;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 15px;
        padding: 30px;
        grid-template-areas:
            "card1 card2 card3";
        .card1{
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;;
            a{
                @extend %boton;
            }
        }
        .card2{
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            a{
                @extend %boton;
            }
        }
        .card3{
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            a{
                @extend %boton;
            }
        }
    }
    h3{
        @extend %titulos;
        padding: 20px;
        text-align: center;
        font-family:Merriweather Sans, sans-serif;
        width: 870px;
        font-size: nth($font-size, 5);
    }
    .hoteles{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: first baseline;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 15px;
        padding: 30px;
        grid-template-areas:
            "card4 card5 card6";
        .card4{
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            a{
                @extend %boton;
            }
        }
        .card5{
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            a{
                @extend %boton;
            }
        }
        .card6{
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            a{
                @extend %boton;
            }
        }
    }
    
}
