@media screen and (max-width: 1200px) {
    .hero{
        div{
            color: $color-tercero;
            font-family: Merriweather Sans, sans-serif;
            padding: 35px;
        }
    }
}


@media screen and (max-width: 1135px) {
    .hero{
        div{
            color: $color-tercero;
            font-family: Merriweather Sans, sans-serif;
            padding: 50px;

                h2{
                    font-size: nth($font-size, 6);
                    width: 600px;
                }
                p{
                    font-size: nth($font-size, 3);
                    width: 530px;
                }
                li{
                    list-style: none;
                    padding-top: 54px;
                    padding-left: 50px;
                }
        }   
    }

.informacion{
    .video{
        iframe{
            padding: 28px;
            width: 500px;
        }
    }
}

    /*------contacto------*/

.hero_contacto{
    h2{
        font-size: nth($font-size, 5);
    }
}

    /*------conocenos------*/
    /*------Unete------*/

}


@media screen and (max-width: 1000px) {

    .personal{
        .contener{
            width: fit-content;
            border-radius: 30px;
            
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin: 20px;
            div{
                text-align: center;
                width: 150px;
                height: 150px;
                margin: 20px;
                border-radius: 45px;
                display: flex;
                flex-direction: column;
                align-items:center;
                justify-content:center;
                flex-wrap: wrap;
                img{
                    width: 91px;
                    border-radius: 100%;
                    padding: 10px;
                }
                h4{
                    width: 150px;
                    padding: 10px;
                    background-color:$color-principal;
                    border-radius: 15px;
                    font-family:Merriweather Sans, sans-serif ;
                    font-weight: 600;
                    font-size: nth($font-size, 1);
                    &:hover{
                        width: 160px;
                        padding: 11px;
                        background-color: $color-tercero;
                        border-radius: 31px;
                        font-size: nth($font-size, 1);
                        color: $color-principal;
                    }
                }
            }
        }
    }

    /*------contacto------*/
    /*------conocenos------*/
    /*------Unete------*/
    /*------Viajes------*/
    .paquetes{
        .paquetes_contenedor{
            align-items:first baseline;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 15px;
            padding: 30px;
            grid-template-areas:
                "card1 card2"
                "card3 card3";
        }
        .hoteles{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 15px;
            padding: 30px;
            grid-template-areas:
                "card4 card5"
                "card6 card6";
        }
    }
}


@media screen and (max-width: 967px) {
    
    .informacion{
        .informacion_introduccion{
            .informacion_introduccion_imagen_descripcion{
                font-style: normal;
                color: rgba(0, 0, 0, 0.436);
                font-size:nth($font-size, 2);
            }
        }
        .video{
            iframe{
                padding: 28px;
                width: 400px;
            }
        }
    }


    .personal{
        h3{
            padding: 20px;
            text-align: center;
            font-family:Merriweather Sans, sans-serif;
            font-weight: 600;
            width: 730px;

        }
    }



    .imagenes{
        #carouselExampleCaptions{
            width: 650px;
        }
    }

    /*------contacto------*/
    /*------conocenos------*/

    .hero_conocenos{
        h4{
            font-weight: 300;
            font-size: nth($font-size, 4);
            width: 630px;
        }
        p{
            font-weight: 500;
            font-size: nth($font-size, 6);

            text-align: center;
        }
    }

}


@media screen and (max-width: 900px) {
    /*------Contacto------*/
    /*------Conocenos------*/
    /*------Unete------*/
    .contenido_unete{
        font-family:Merriweather Sans, sans-serif ;
        margin: 10px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .incripcion_info{
            padding: 20px;
            h2{
                font-weight: 600;
                font-size: nth($font-size, 5);
                padding: 34px;
                color: $color-secundario;
            }
            p{
                font-weight: 300;
                color: rgba(0, 0, 0, 0.536);
                font-size: nth($font-size, 3);
                text-align: justify;
            }
        }
        .unete_contenedor{
            background-color: $color-principal;
            width: fit-content;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
            h3{
                color: $color-tercero;
                width: 500px;
                text-align: center;
                padding: 10px;
            }
            .formulario_unete{
                .for-1{
                    .nyp{
                        div{
                            input{
                                width: 150px;
                            }
                        }
                    }
                    .naciemiento{
                        div{
                            select{
                                width: 60px;
                            }
                        }
                        div{
                            input{
                                width: 150px;
                            }
                        }
                    }
                    .especie_sexo{
                        div{
                            select{
                                width: 150px;
                            }
                        }
                    }
                    .mail{
                        input{
                            border: $color-tercero;
                            border-radius: 5px;
                            padding: 10px;
                            height: 30px;
                            width: 180px;
                        }
                    }
                }
                .for-2{
                    .datos_adicionales{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        div{
                            display: flex;
                            flex-direction: column;
                            label{
                                color: $color-tercero;
                            }
                            input{
                                border: $color-tercero;
                                border-radius: 5px;
                                padding: 10px;
                                height: 30px;
                                width: 180px;
                            }
                        }
                    }
                }
            }
            .archivos{
                div{
                    input{
                        border: $color-tercero;
                        border-radius: 5px;
                        padding: 10px;
                        height: 30px;
                        width: 180px;
                    }
                }
            }
        }
    }
    /*------viaje------*/
    .hero_vacaciones{
        h2{
            font-size:nth($font-size, 7);
            color: $titulos-hero;
            width: 650px;
            text-align: center
        }
    }
    .paquetes{
        h3{
            width: 650px;
        }
        h3{
            width: 650px;
        }
        
    }
    
}


@media screen and (max-width: 800px) {

    .informacion{
        margin: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: Merriweather Sans, sans-serif;
        .informacion_introduccion{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                border-radius: 60px;
                width: 600px;
                margin: 25px;
            }
            .informacion_introduccion_imagen_descripcion{
                font-style: normal;
                color: rgba(0, 0, 0, 0.436);
                font-size: nth($font-size, 2);
                padding-left: 0px;
            }
        }
        .video{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            iframe{
                padding: 28px;
                width: 600px;
            }
        }
    }

    .personal{
        .contener{
            width: fit-content;
            border-radius: 30px;
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin: 20px;
            div{
                text-align: center;
                width: 100px;
                height: 150px;
                margin: 20px;
                border-radius: 45px;
                display: flex;
                flex-direction: column;
                align-items:center;
                justify-content:center;
                flex-wrap: wrap;
                h4{
                    width: 100px;
                    padding: 5px;
                    background-color:$color-principal;
                    border-radius: 15px;
                    font-family:Merriweather Sans, sans-serif ;
                    font-weight: 600;
                    font-size:nth($font-size, 1);
                    color: $color-tercero;
                    &:hover{
                        width: 110px;
                        padding: 6px;
                        background-color: $color-tercero;
                        border-radius: 31px;
                        font-size: nth($font-size, 1);
                        color: $color-principal;
                    }
                }
            }
        }
    }

    .footer{
        .footer_contenedor{
            height: 32vh;
            .contactos{
                .linea_bot{
                    border-top: 3px solid rgba(187, 187, 187, 0.251);
                    height: 2px;
                    width: 50%;
                    padding: 15px;
                }
            }
            .subscripcion{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 350px;
                height: 200px;
                justify-content: space-around;
                .susbribir{
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                    background-color: $color-tercero;
                    border-radius: 20px;
                    width: fit-content;
                    padding: 10px;
                    transition: 0.2s;
                    &:hover{
                        color: rgb(0, 0, 0);
                        text-decoration: none;
                        background-color: $color-principal;
                        border-radius: 20px;
                        width: fit-content;
                        padding: 10px;
                        font-size: nth($font-size, 2);
                        color: $color-tercero;
                    }
                }
                .redes{
                    padding: 20px;
                    display: flex;
                    width: 270px;
                    justify-content: space-around;
                    align-items: center;
                    li{
                        text-decoration: none;
                        list-style: none;
                        a{
                            img{
                                width: 25px;
                                transition: 0.2s;
                                &:hover{
                                    width: 28px;
                                }
                            }
                        }
                    }
                }
            }
            .watermark{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;
                img{
                    width: 80px;
                }
                h4{
                    font-family: Inconsolata;
                    font-weight: 600;
                    font-size: nth($font-size, 2);
                }
            }
            
        }
    }

    .hero{
        background-image: url(../img/fondo11.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: right ;
        height: 91vh;
        background-attachment:fixed;
        background-color: black;
        .hero_flex_contenedor{
            .hero_fraseuno{
                width: 320px;
            }
            .hero_frasedos{
                font-size: nth($font-size, 3);
                width: 320px;
            }
            li{
                list-style: none;
                padding-top: 54px;
                padding-left: 0px;
                a{
                    color: $color-tercero;
                    background-color: $color-principal;
                    border-radius: 15px;
                    padding: 12px;
                    font-size: nth($font-size, 2);
                    box-shadow: rgba(67, 35, 35, 0.596) 0px 3px 8px;
                }
            }
        }
    }

    /*------contacto------*/
    /*------conocenos------*/
    /*------Unete------*/

}


@media screen and (max-width: 750px) {
    .footer{
        .footer_contenedor{
            .contactos{
                h4{
                    font-weight: 300;
                    font-style: initial;
                    font-size: nth($font-size, 1);
                    padding: 20px;
                    text-align: center;
                }
                .linea_bot{
                    padding: 15px;
                }
                p{
                    font-weight: 300;
                    font-style: normal;
                    font-size: nth($font-size, 1);
                }
            }
            .subscripcion{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 350px;
                height: 200px;
                justify-content: space-around;
                h4{
                    font-weight: 300;
                    font-style: initial;
                    padding: 20px;
                    font-size: nth($font-size, 2);
                    text-align: center;
                }
                .susbribir{
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                    background-color: $color-tercero;
                    border-radius: 20px;
                    width: fit-content;
                    padding: 7px;
                    font-size:nth($font-size, 2);
                    transition: 0.2s;
                    &:hover{
                        color: rgb(0, 0, 0);
                        text-decoration: none;
                        background-color: $color-principal;
                        border-radius: 20px;
                        width: fit-content;
                        padding: 10px;
                        font-size: nth($font-size, 2);
                        color: $color-tercero;
                    }
                }
                .redes{
                    padding: 20px;
                    display: flex;
                    width: 270px;
                    justify-content: space-around;
                    align-items: center;
                    li{
                        text-decoration: none;
                        list-style: none;
                        a{
                            img{
                                width: 25px;
                                transition: 0.2s;
                                &:hover{
                                    width: 28px;
                                }
                            }
                        }
                    }
                }
            }
            .watermark{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;
                img{
                    width: 80px;
                }
                h4{
                    font-family: Inconsolata;
                    font-weight: 600;
                    font-size: nth($font-size, 2);
                    text-align: center;
                }
            }
            
        }
    }

    .personal{
        h3{
            padding: 20px;
            text-align: center;
            font-family:Merriweather Sans, sans-serif;
            font-weight: 600;
            width: 550px;

        }
    }

    /*------contacto------*/

    .contacto_contenido{
        .contacto_contenido_formulario{
            .contenido_formulario{
                div{
                    form-control{
                        width: 400px;
                    }
                }
            }
        }
    }
    /*------conocenos------*/
    /*------Unete------*/

    .contenido_unete{
        .unete_contenedor{
            .formulario_unete{
                padding: 4px;
            }
            .archivos{
                padding: 4px;
            }
        }
    }
}


@media screen and (max-width: 700px) {
    .informacion{
        .informacion_introduccion{
            img{
                border-radius: 60px;
                width: 400px;
                margin: 25px;
            }
        }
        .video{
            iframe{
                padding: 28px;
                width: 400px;
            }
        }
    }

    .hero{
        background-image: url(../img/fondo11.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: right ;
        height: 92vh;
        background-attachment:fixed;
        background-color: black;
        .hero_flex_contenedor{
            color: $color-tercero;
            font-family: Merriweather Sans, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px;
            height: 91vh;
            .hero_fraseuno{
                font-size: nth($font-size, 6);
                width: 480px;
                text-align: center;
            }
            hero_frasedos{
                font-size: nth($font-size, 3);
                width: 400px;
                text-align: center;
                color: #f1f8fe82;
            }
            li{
                list-style: none;
                padding-top: 54px;
                padding-left: 0px;
            }
        }
    }

    .imagenes{
        #carouselExampleCaptions{
            width: 490px;
        }
    }


    /*------contacto------*/
    .contacto_contenido{
        .contacto_contenido_arriba{
            display: flex;
            flex-direction: column;
            align-items:center ;
            .contacto_contenido_numeros{
                p{
                    color: rgba(0, 0, 0, 0.859);
                }
            }
        }
        .contacto_contenido_formulario{
            h4{
                font-size: nth($font-size, 3);
            }
        }
}

    /*------conocenos------*/

    .acordeon{
        .galeria{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 15px;
            padding: 30px;
            grid-template-areas:
            "foto1 foto4"
            "foto2 foto4"
            "foto3 foto3"
            "foto3 foto3"
            "foto5 foto7"
            "foto6 foto8"
            "foto6 foto9";
        }
    }
    .hero_conocenos{
        h4{
            font-weight: 300;
            font-size: nth($font-size, 3);
            width: 530px;
        }
        p{
            font-weight: 500;
            font-size: nth($font-size, 6);

            text-align: center;
        }
    }

    /*------Unete------*/
    /*------viaje------*/
    .hero_vacaciones{
        background-image: url(../img/viajes.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: right ;
        h2{
            font-size:nth($font-size, 7);
            color: $titulos-hero;
            width: 500px;
            text-align: center
        }
    }
    .paquetes{
        h3{
            padding: 5px;
            text-align: center;
            font-family:Merriweather Sans, sans-serif;
            width: 500px;
            font-size: nth($font-size, 5);
        }
        .paquetes_contenedor{
            align-items:first baseline;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 15px;
            padding: 5px;
            grid-template-areas:
                "card1 card2"
                "card3 card3";
        }
        h3{
            padding: 5px;
            text-align: center;
            font-family:Merriweather Sans, sans-serif;
            width: 500px;
            font-size: nth($font-size, 5);
        }
        .hoteles{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 15px;
            padding: 5px;
            grid-template-areas:
                "card4 card5"
                "card6 card6";
        }
    }

}


@media screen and (max-width: 600px) {
    .personal{
        h3{
            padding: 20px;
            text-align: center;
            font-family:Merriweather Sans, sans-serif;
            font-weight: 600;
            width: 400px;

        }
        .contener{
            width: fit-content;
            border-radius: 30px;
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin: 30px;
            padding: 0px;
            padding-bottom: 40px;
            div{
                text-align: center;
                width: 150px;
                height: 150px;
                margin: 20px;
                border-radius: 45px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-around;
                flex-wrap: wrap;
                img{
                    width: 140px;
                    border-radius: 100%;
                    padding: 0px;
                }
                h4{
                    width: 100px;
                    padding: 10px;
                    background-color:$color-principal;
                    border-radius: 15px;
                    font-family:Merriweather Sans, sans-serif ;
                    font-weight: 600;
                    font-size: nth($font-size, 2);
                    margin: -25px;
                    color: $color-tercero;
                    &:hover{
                        width: 110px;
                        padding: 11px;
                        background-color: $color-tercero;
                        border-radius: 31px;
                        font-size: nth($font-size, 2);
                        color: $color-principal;
                    }
                }
            }
        }
    }


    /*------contacto------*/
    /*------conocenos------*/

    .acordeon{
        .galeria{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 15px;
            padding: 30px;
        }
    }

    .hero_conocenos{
        h4{
            font-weight: 300;
            font-size: nth($font-size, 4);
            width: 430px;
        }
        p{
            font-weight: 500;
            font-size: nth($font-size, 5);

            text-align: center;
        }
    }

    /*------Unete------*/

    .contenido_unete{
        .incripcion_info{
            h2{
                font-weight: 600;
                font-size: nth($font-size, 5);
                padding: 34px;
                color: $color-secundario;
            }
        }
        .unete_contenedor{
            h3{
                color: $color-tercero;
                width: 387px;
                text-align: center;
                padding: 10px;
                font-size: nth($font-size, 3);
            }
            .formulario_unete{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding: 20px;
            }
        }
    }
    /*------Viajes------*/
    .hero_vacaciones{
        h2{
            font-size:nth($font-size, 5);
            color: $titulos-hero;
            width: 500px;
            text-align: center
        }
    }
    .paquetes{
        .paquetes_contenedor{
            align-items:first baseline;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 15px;
            padding: 30px;
            grid-template-areas:
                "card1"
                "card2"
                "card3";
        }
        .hoteles{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 15px;
            padding: 30px;
            grid-template-areas:
                "card4"
                "card5"
                "card6";
        }
    }
}


@media screen and (max-width: 500px) {

    .footer{
        .footer_contenedor{
            .watermark{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0px;
                img{
                    width: 65px;
                }
                h4{
                    font-family: Inconsolata;
                    font-weight: 600;
                    font-size: nth($font-size, 1);
                }
            }
            
        }
    }



    .informacion{
        .informacion_introduccion{
            img{
                border-radius: 30px;
                width: 350px;
                margin: 10px;
                padding: 5px;
            }
        }
        .video{
            iframe{
                padding: 13px;
                width: 350px;
            }
        }
    }

    .hero{
        .hero_flex_contenedor{
            .hero_fraseuno{
                font-size: nth($font-size, 5);
                width: 360px;
                text-align: center;
            }
            .hero_frasedos{
                font-size: nth($font-size, 3);
                width: 320px;
                text-align: center;
                color: #f1f8fe82;
            }
            li{
                a{
                    color: $color-principal;
                    background-color: $color-tercero;
                    border-radius: 15px;
                    padding: 12px;
                    font-size: nth($font-size, 3);
                    box-shadow: rgba(67, 35, 35, 0.596) 0px 3px 8px;
                }
            }
        }
    }

    .imagenes{
        #carouselExampleCaptions{
            width: 350px;
        }
    }
    
    header{
        nav{
            div{
                div{
                    ul{
                        width: 200px;
                        justify-content:space-between;
                    }
                }
            }
        }
    }

    /*------contacto------*/

    .hero_contacto{
        h2{
            font-size: nth($font-size, 5);
        }
        p{
            font-size: nth($font-size, 3);
        }
    }
    .contacto_contenido{
        .contacto_contenido_formulario{
            .contenido_formulario{
                div{
                    form-control{
                        width: 350px;
                    }
                }
            }
        }
    }

    /*------conocenos------*/
    .hero_conocenos{
        h4{
            font-weight: 400;
            font-size: nth($font-size, 2);
            width: 330px;
        }
        p{
            font-weight: 500;
            font-size: nth($font-size, 5);

            text-align: center;
        }
    }

    .acordeon{
        .galeria{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 15px;
            padding: 30px;
            grid-template-areas:
            "foto1"
            "foto2"
            "foto3"
            "foto4"
            "foto5"
            "foto6"
            "foto7"
            "foto8"
            "foto9";
        }
    }

    /*------Unete------*/

    .hero_unete{
        h2{
            font-size: nth($font-size, 5);
        }
    }
    /*------Viajes------*/
    .hero_vacaciones{
        h2{
            font-size:nth($font-size, 5);
            color: $titulos-hero;
            width: 350px;
            text-align: center
        }
    }
    .paquetes{
        h3{
            font-size:nth($font-size, 4);
            width: 350px;
        }
        h3{
            font-size:nth($font-size, 4);
            width: 350px;
        }
        
    }
}


@media screen and (max-width: 450px) {
    .footer{
        padding: 10px;
        .footer_contenedor{
            color: $color-tercero;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-family:Merriweather Sans, sans-serif ;
            .contactos{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                order: 2;
                h4{
                    font-weight: 300;
                    font-style: initial;
                    font-size: nth($font-size, 2);
                    padding: 20px;
                }
                .linea_bot{
                    border-top: 3px solid rgba(187, 187, 187, 0.251);
                    height: 2px;
                    width: 50%;
                    padding: 10px;
                }
                p{
                    font-weight: 300;
                    font-style: normal;
                    font-size: nth($font-size, 2);
                }
            }
            .subscripcion{
                display: flex;
                flex-direction: column;
                align-items: center;
                order: 1;
                width: auto;
                h4{
                    font-weight: 300;
                    font-style: initial;
                    padding: 17px;
                    font-size: nth($font-size, 3);
                }
                .susbribir{
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                    background-color: $color-tercero;
                    border-radius: 20px;
                    width: fit-content;
                    padding: 10px;
                    transition: 0.2s;
                }
                .redes{
                    padding: 10px;
                    display: flex;
                    width: 270px;
                    justify-content: space-around;
                    align-items: center;
                    li{
                        text-decoration: none;
                        list-style: none;
                        a{
                            padding: 10px;
                            img{
                                width: 25px;
                                transition: 0.2s;
                                &:hover{
                                    width: 28px;
                                }
                            }
                        }
                    }
                }
            }
            .watermark{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                order: 3;
                img{
                    width: 100px;
                }
                h4{
                    font-family: Inconsolata;
                    font-weight: 600;
                    font-size: nth($font-size, 3);
                }
            }
            
        }
    }

    .personal{
        .contener{
            width: fit-content;
            border-radius: 30px;
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: 30px;
            padding: 0px;
            padding-bottom: 0px;
            div{
                text-align: center;
                width: 250px;
                height: 150px;
                margin: 20px;
                border-radius: 45px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                img{
                    width: 140px;
                    border-radius: 100%;
                    padding: 0px;
                }
                h4{
                    width: 100px;
                    padding: 10px;
                    background-color:$color-principal;
                    border-radius: 15px;
                    font-family:Merriweather Sans, sans-serif ;
                    font-weight: 600;
                    font-size: nth($font-size, 2);
                    margin: 0px;
                    color: $color-tercero;
                    &:hover{
                        width: 110px;
                        padding: 11px;
                        background-color: $color-tercero;
                        border-radius: 31px;
                        font-size: nth($font-size, 2);
                        color: $color-principal;
                    }
                }
            }
        }
    }
    .informacion{
        .informacion_introduccion{
            p{
                color: $color-texto;
                font-weight: 300;
                font-style: normal;
                font-size: nth($font-size, 2);
                padding: 28px;
                padding-bottom: 0px;
                padding-top: 0px;
                padding-bottom: 20px;
            }
            img{
                border-radius: 30px;
                width: 300px;
                margin: 0px;
                padding: 5px;
            }
        }
    }

    .imagenes{
        #carouselExampleCaptions{
            width: 300px;
        }
    }

    header{
        nav{
            div{
                .navbar-brand{
                    h1{
                        font-size: nth($font-size, 3);
                    }
                }
            }
        }
    }


    /*------contacto------*/

    .contacto_contenido{
        .contacto_contenido_arriba{
            padding: 30px;
        }
        .contacto_contenido_formulario{
            .contenido_formulario{
                div{
                    form-control{
                        width: 300px;
    
                    }
                }
            }
        }
    }


    /*------conocenos------*/
    /*------Unete------*/
        .contenido_unete{
            .unete_contenedor{
                h3{
                    color: $color-tercero;
                    width: 300px;
                    text-align: center;
                    padding: 10px;
                    font-size: nth($font-size, 3);
                }
            }
        }
    /*------Viaje------*/
        .hero_vacaciones{
            h2{
                width: 300px;
            }
        }
        .paquetes{
            .paquetes_contenedor{
                
                padding: 15px;
            }
            h3{
                font-size:nth($font-size, 4);
                width: 300px;
            }
            h3{
                font-size:nth($font-size, 4);
                width: 300px;
            }
            .hoteles{
                padding: 15px;
            }
        }
        
}




@media screen and (max-width: 400px) {
    
    .informacion{
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: Merriweather Sans, sans-serif;
        .informacion_introduccion{
            h3{
                padding: 28px;
                font-style: normal;
                font-size: nth($font-size, 5);
                text-align: center;
            }
            p{
                color: $color-texto;
                font-weight: 300;
                font-style: normal;
                font-size: nth($font-size, 2);
                padding: 28px;
                padding-bottom: 0px;
                padding-top: 0px;
                padding-bottom: 20px;
            }
            img{
                border-radius: 30px;
                width: 290px;
                margin: 0px;
                padding: 5px;
            }
            .informacion_introduccion_imagen_descripcion{
                font-style: normal;
                color: rgba(0, 0, 0, 0.436);
                font-size: nth($font-size, 1);
                padding-left: 0px;
            }
        }
        .video{
            iframe{
                padding: 25px;
                width: 290px;
            }
        }
    }

    .personal{
        h3{
            padding: 0px;
            text-align: center;
            font-family:Merriweather Sans, sans-serif;
            font-weight: 600;
            width: 250px;

        }
        .contener{
            width: fit-content;
            border-radius: 30px;
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: 12px;
            padding: 0px;
            padding-bottom: 0px;
        }
    }
    .hero{
        .hero_flex_contenedor{
            .hero_fraseuno{
                font-size: nth($font-size, 4);
                width: 280px;
                text-align: center;
            }
            .hero_frasedos{
                font-size: nth($font-size, 2);
                width: 225px;
                text-align: center;
                color: #f1f8fe82;
            }
            li{
                a{
                    color: $color-principal;
                    background-color: $color-tercero;
                    border-radius: 15px;
                    padding: 12px;
                    font-size: nth($font-size, 3);
                    box-shadow: rgba(67, 35, 35, 0.596) 0px 3px 8px;
                }
            }
        }
    }

    /*------contacto------*/
    .hero_contacto{
        h2{
            font-size: nth($font-size, 4);
        }
        p{
            font-size: nth($font-size, 2);
        }
    }
    

    .contacto_contenido{
        .contacto_contenido_arriba{
            padding: 5px;
            width: fit-content;
        }
        .contacto_contenido_formulario{
            padding: 5px;
            width: fit-content;
        }
    }

    /*------conocenos------*/

    .hero_conocenos{
        h4{
            font-weight: 400;
            font-size: nth($font-size, 2);
            width: 230px;
        }
        p{
            font-weight: 500;
            font-size: nth($font-size, 4);

            text-align: center;
        }
    }

    .acordeon{
        .galeria{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 15px;
            padding: 30px;
        }
    }

    /*------Unete------*/
    .hero_unete{
        h2{
            font-size: nth($font-size, 4);
        }
    }
    .contenido_unete{
        .incripcion_info{
            h2{
                font-weight: 600;
                font-size: nth($font-size, 4);
                padding: 34px;
                color: $color-secundario;
                width: 255px;
            }
        }
        .unete_contenedor{
            background-color: $color-principal;
            width: fit-content;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            .formulario_unete{
                .for-1{
                    .nyp{
                        width: 125px;
                        div{
                            input{
                                border: $color-tercero;
                                border-radius: 5px;
                                padding: 10px;
                                height: 30px;
                                width: 140px;
    
                            }
                        }
                    }
                    .naciemiento{
                        div{
                            select{
                                width: 60px;
                            }
                        }
                        .año{
                            input{
                                width: 122px;
    
                            }
                        }
                    }
                    .especie_sexo{
                        div{
                            select{
                                width: 126px;
                            }
                        }
                        .mail{
                            input{
                                border: $color-tercero;
                                border-radius: 5px;
                                padding: 10px;
                                height: 30px;
                                width: 180px;
    
                            }
                        }
                    }
                }
                .for-2{
                    .datos_adicionales{
                        div{
                            input{
                                border: $color-tercero;
                                border-radius: 5px;
                                padding: 10px;
                                height: 30px;
                                width: 180px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 350px) {
    .informacion{
        .informacion_introduccion{
            img{
                border-radius: 30px;
                width: 250px;
                margin: 0px;
                padding: 5px;
            }
        }
        .video{
            iframe{
                padding: 25px;
                width: 250px;
            }
        }
    }

    /*------contacto------*/

    .contacto_contenido{
        .contacto_contenido_formulario{
            .contenido_formulario{
                div{
                    form-control{
                        width: 250px;
                    }
                }
            }
        }
    }
    /*------conocenos------*/
    /*------Unete------*/
        .contenido_unete{
            .unete_contenedor{
                h3{
                    color: $color-tercero;
                    width: 276px;
                    text-align: center;
                    padding: 10px;
                    font-size: nth($font-size, 3);
                }
                .formulario_unete{
                    .for-1{
                        .nyp{
                            div{
                                input{
                                    width: 110px;
                                }
                            }
                        }
                        .naciemiento{
                            .año{
                                input{
                                    width: 95px;
                                }
                            }
                        }
                        .especie_sexo{
                            div{
                                select{
                                    width: 100px;

                                }
                            }
                        }
                    }
                }
            }
        }
    }


