$color-principal: #5f6cdc;
$color-secundario: #0b0b0b;
$color-tercero: aliceblue;

/*COLOR TEXTO*/
$color-texto:rgba(0, 0, 0, 0.432);
$color-titulos:$color-secundario;
$titulos-hero:aliceblue;
$subtitulo-hero:#f1f8fe82;

/*BOTON COLOR*/
$bc-color:$color-principal;
$font-color:$color-tercero;
$hover-color:$color-tercero;
$hover-contraste: $color-principal;

$font-size:
10px, //1
15px, //2
20px, //3
25px, //4
30px, //5
50px, //6
60px; //7



// placeholder %

//usar plara flexbox centrar. o lo que sea. 

%titulos{
    color: $color-secundario;
    font-weight: 600;
}

%cuerpo-texto{
    color: $color-texto;
    font-weight: 300;
}

%boton{
    $border-radius: 15px;
    background-color: $bc-color;
    color: $font-color;
    border-radius: $border-radius;
    padding: 12px;
    font-size: nth($font-size, 2);
    outline: 0;
    transition: all .2s ease;
    line-height: 1;
    user-select: none;
    &:hover{
        background-color: $hover-color;
        color: $hover-contraste;
    }
    &:focus{
        outline:0;

    }
    &:active{
        transform: scale3d(.95, .95, 1);
    }
}

%burbujas{
    font-family:Merriweather Sans, sans-serif ;
    font-weight: 600;
    width: 150px;
    padding: 5px;
    background-color: $bc-color;
    border-radius: 15px;
    color: $font-color;
    transition: 0.2s;
    font-size: nth($font-size, 2);
    &:hover{
        width: 155px;
        padding: 6px;
        background-color: $hover-color;
        border-radius: 30px;
        font-size: nth($font-size, 2);
        color: $hover-contraste;
    }
}

%flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

%flex-colum{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}





